.nav-link:hover, .nav-item.active {
    color: white !important;
    background-color: rgba(255,255,255,.2);
}

.navbar-nav .nav-item {
    width: 100px;
    text-align: center;
}

.global-container {
    max-width: 1000px;
    padding: 20px;
    min-height: calc(100vh - calc(61px + 173px));
}

.form-vertical-center {
    margin-top: 15vh;
}