.navbar {
    background-image: linear-gradient(to left top, #ef9a9a, #ef7d79, #ea5e56, #e23c31, #d50000);
}

.nav-link:hover, .nav-item.active {
    color: white !important;
    background-color: rgba(255,255,255,.2);
}

.navbar-nav .nav-item {
    width: 100px;
    text-align: center;
}

.global-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    min-height: calc(100vh - calc(61px + 173px));
}

.form-vertical-center {
    margin-top: 15vh;
}

@media screen and (max-width: 992px) {
    .navbar-nav .nav-item {
        width: 100%;
        text-align: left;
    }

    .navbar-nav .nav-item .nav-link {
        padding-left: 1rem !important;
    }

    .navbar-nav .btn {
        text-align: center;
    }
}