<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}L3Cup{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/site.css') }}">
        <!-- MDBootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">
        <!-- MDBootstrap JQuery & JS -->
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="{{ asset('js/site.js') }}"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %}
        {% block home %}{% endblock %}
        <div class="global-container">

            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}

        </div>
        {% include 'footer.html.twig' %}
    </body>
</html>
