{% extends 'base.html.twig' %}

{% block title %} L3Cup {% endblock %}

{% block home %}

    <div class="home">
        <div class="home-container">
            <p class="title">L3Cup</p>
            <div class="line"></div>
            <p class="subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam massa ante, eleifend eget consequat in, pretium ut magna.
            </p>
        </div>
    </div>

{% endblock %}