{% extends 'base.html.twig' %}

{% block title %} L3Cup {% endblock %}

{% block home %}

    <div class="home">
        <div class="home-container">
            <p class="title">L3Cup</p>
            <div class="line"></div>
            <p class="subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam massa ante, eleifend eget consequat in, pretium ut magna.
            </p>
        </div>
    </div>

{% endblock %}

{% block body %}

    <div class="card mt-4">

        <div class="view overlay">
            <img class="card-img-top" src="https://as00.epimg.net/en/imagenes/2018/06/26/football/1530013664_957606_1530028549_noticia_normal.jpg" alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <div class="card-body elegant-color white-text rounded-bottom">

            <h4 class="card-title">France - Danemark</h4>
            <hr class="hr-light">
            <p class="card-text white-text mb-4">Un match nul qui porte bien son nom...</p>
            <a href="#!" class="white-text d-flex justify-content-end"><h5>En savoir plus <i class="fa fa-angle-double-right"></i></h5></a>

        </div>

    </div>

{% endblock %}